name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2.3.4

      - name: Docker registry login
        if: github.ref == 'refs/heads/master'
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Publish
        uses: renovatebot/internal-tools@102f9906a6d70170d6e8e4e2f9929dbaed518039 # renovate: tag=v1.7.7
        with:
          command: docker-builder
          major-minor: false
          prune: true
          dry-run: ${{ github.ref != 'refs/heads/master' }}
