name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

env:
  # https://github.com/chalk/supports-color/issues/106
  FORCE_COLOR: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2.3.3

      - name: Docker registry login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and Publish
        uses: renovatebot/internal-tools@v1.1.13
        with:
          command: docker-builder
          major-minor: false
          prune: true
          dry-run: ${{github.ref != 'refs/heads/master'}}
